PUBLIC_SOCIAL_LINK_BLUESKY	= "https://bsky.app/profile/quantum-science.net"
PUBLIC_SOCIAL_LINK_DISCORD	= "https://discord.com/invite/qsp"
PUBLIC_SOCIAL_LINK_KOFI		= "https://ko-fi.com/quantumscienceinc"
PUBLIC_SOCIAL_LINK_ROBLOX	= "https://www.roblox.com/communities/2847031"
PUBLIC_SOCIAL_LINK_X		= "https://x.com/QuantumSci_RBLX"
PUBLIC_SOCIAL_LINK_YOUTUBE	= "https://www.youtube.com/@QuantumScience"

PUBLIC_GITHUB_URL			= "https://github.com/Quantum-Science/website"
PUBLIC_SITE_URL				= "https://quantum-science.net"

PUBLIC_ENABLE_WIKI			= "true"